.hoveredItem:hover {
  color: #f96332;
  cursor: pointer;
}

.upperArrow {
  background-color: grey;
  width: 10px;
  height: 5px;
  margin-top: 5px;
  clip-path: polygon(0 100%, 50% 0, 100% 100%, 0 100% );
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.upperArrow:hover{
  transform: translateY(-2px);
}

.upperArrow:active{
  transform: translateY(-1px);
}

.downArrow {
  margin-top: 5px;
  background-color: grey;
  width: 10px;
  height: 5px;
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.downArrow:hover {
  transform: translateY(2px);
}

.downArrow:active {
  transform: translateY(1px);
}

.circle{
  cursor: pointer
}
.circle:hover {
  color: orange;
}
.circle:active {
  color: black;
  font-size: 12px
}

.circle:active .crossArrow {
  background: black;
}

.circle:active .verticalArrow {
  background: black;
}

.bigBtn {
  background-color: #19ce0f;
  border-radius: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.bigBtn:hover{
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transform: translateY(-2px);
}
.bigBtn:active{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transform: translateY(0);
}

#timesCircle {
  color: red;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#timesCircle:hover {
  color: red;
  font-size: 1.1em;
}
#timesCircle:active {
  color: #ca8d8e;
  font-size: 1em;
}


/*quantity*/
/*div:link, div:visited {*/
/*  transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;*/
/*}*/
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.quantity__minus,
.quantity__plus {
  display: block;
  font-size: 1rem;
  width: 22px;
  height: 23px;
  margin: 0;
  background: #f96332;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
  transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;;
  cursor: pointer;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: #CE562C;
  color: #fff;
}
.quantity__minus:active,
.quantity__plus:active {
  background: #f96332;
  color: #fff;
}
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 32px;
  height: 23px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #f96332;
  border-bottom: 2px solid #f96332;
  border-left: 1px solid #f96332;
  border-right: 2px solid #f96332;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
}
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}

.trFont th {
  font-family: "Anton", sans-serif;
  color: #efefef;
  letter-spacing: 0.05rem;
}
