.fadeReportsIn {
  animation: fadeItIn 0.5s ease-in-out forwards;
}

@keyframes fadeItIn {
  from {
    transform: translateX(1500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#buyingReport .report {
  cursor: pointer;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2) !important;
  transition: all .2s;
  color: #949296;
  opacity: 0.8;
  position: relative;
}

#buyingReport .report::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: #00A9CE;
  transition: all .2s;
  z-index: -1;
}

#buyingReport .report:hover::before {
  width: 100%;
  height: 100%;
}


#buyingReport .report:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2) !important;
  color: rgba(255, 255, 255, 0.9);
  opacity: 1;
}

#buyingReport .report:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2) !important;
}
